In [5]:
import pandas as pd
data={
      'empno':[101,102,103,104,105],
      'ename':['rama','bhima','mahesh','lokesh','prathvi'],
      'qualification':['BE','diploma','m.tech','bsc','msc'], 
      'subject':['cs','me','ec','ai','ce']
      }
df=pd.DataFrame(data)
print(df)

   empno    ename qualification subject
0    101     rama            BE      cs
1    102    bhima       diploma      me
2    103   mahesh        m.tech      ec
3    104   lokesh           bsc      ai
4    105  prathvi           msc      ce

In [7]:
print(df['empno'])
print(df[['empno','ename']])

0    101
1    102
2    103
3    104
4    105
Name: empno, dtype: int64
   empno    ename
0    101     rama
1    102    bhima
2    103   mahesh
3    104   lokesh
4    105  prathvi

In [9]:
df['salary']=[6000,7000,9000,7500,8500]
print(df)

   empno    ename qualification subject  salary
0    101     rama            BE      cs    6000
1    102    bhima       diploma      me    7000
2    103   mahesh        m.tech      ec    9000
3    104   lokesh           bsc      ai    7500
4    105  prathvi           msc      ce    8500

In [11]:
df['age']=[45,20,58,63,29]
print(df)

   empno    ename qualification subject  salary  age
0    101     rama            BE      cs    6000   45
1    102    bhima       diploma      me    7000   20
2    103   mahesh        m.tech      ec    9000   58
3    104   lokesh           bsc      ai    7500   63
4    105  prathvi           msc      ce    8500   29

In [12]:
young_people=df[df['age']<30]
print(young_people)

   empno    ename qualification subject  salary  age
1    102    bhima       diploma      me    7000   20
4    105  prathvi           msc      ce    8500   29