In [1]:
import pandas as pd

In [3]:
names=pd.Series(['Alice','bob','Charli','David','Eve',])
ages=pd.Series([25,32,28,45,29])
cities=pd.Series(['Newyork','Sanfrancico','Los angels','Chicago','Miami'])

In [4]:
data={
'Name':names,
'Age':ages,
'City':cities,
}

In [5]:
df=pd.DataFrame(data)
print(df)

     Name  Age         City
0   Alice   25      Newyork
1     bob   32  Sanfrancico
2  Charli   28   Los angels
3   David   45      Chicago
4     Eve   29        Miami