In [2]:
import pandas as pd 
data={
'Names':['Alice','bob','Charli','David','Eve'],
'Ages':[25,32,28,45,29],
'Cities':['Newyork','Sanfrancico','Los angels','Chicago','Miami']
}
df=pd.DataFrame(data)
print(df)

    Names  Ages       Cities
0   Alice    25      Newyork
1     bob    32  Sanfrancico
2  Charli    28   Los angels
3   David    45      Chicago
4     Eve    29        Miami