In [1]:
import pandas as pd 
data={
'Employeno':[101,102,103,104,105],
'Ename':['Rama','Bhima','Mahesh','Lokesh','Shama'],
'Qualification':['BE','Diploma','Mtech','Bsc','Msc'],
'Subject':['cs','ME','EC','AT','CE']
}
df=pd.DataFrame(data)
print(df)

   Employeno   Ename Qualification Subject
0        101    Rama            BE      cs
1        102   Bhima       Diploma      ME
2        103  Mahesh         Mtech      EC
3        104  Lokesh           Bsc      AT
4        105   Shama           Msc      CE